{% extends 'base.html.twig' %}

{% block title %}Les chaises{% endblock %}

{% block body %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark text-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Nos différentes chaises</h1>
        <p class="lead font-weight-normal">Vous trouverez ici tout nos chaises</p>
        
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Chaise moderne en bois</h2>
          <p class="lead">Cette chaise au design moderne est fabriquée en bois de haute qualité. Elle offre un confort optimal grâce à son dossier ergonomique et son assise rembourrée. Parfaite pour ajouter une touche contemporaine à votre espace de vie.</p>
          <h4>Prix de cette chaise : 30€</h4>
          <img loading='lazy' width='500' height='500' src="{{ asset('images/Meuble1.jpg')}}" alt="">
        </div>
        {# <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> #}
        <a class="btn btn-outline-primary" href="#">Ajouter au panier</a>
        </div>
      </div>
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3 text-light">
          <h2 class="display-5">Chaise de cuisine</h2>
          <p class="lead">Cette chaise de cuisine au design contemporain apporte une touche moderne à votre espace culinaire. Fabriquée avec des matériaux durables, elle offre à la fois élégance et fonctionnalité.</p>
          <h4>Prix de cette chaise : 40€</h4>
          <img loading='lazy' width='500' height='500' src="{{ asset('images/Meuble2.jpg')}}" alt="">
          
        </div>
        {# <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> #}
        <a class="btn btn-outline-primary" href="#">Ajouter au panier</a>
        </div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3 text-light">
          <h2 class="display-5">Chaise en bois avec revêtement en tissu bleu </h2>
          <p class="lead">Cette chaise en bois allie élégance et confort avec son revêtement en tissu bleu. Le cadre en bois massif lui confère une solidité et une durabilité remarquables. Le tissu bleu ajoute une touche de couleur vive et apporte une atmosphère chaleureuse à votre espace.</p>
          <h4>Prix de cette chaise : 26€</h4>
          <img loading='lazy' width='500' height='500' src="{{ asset('images/Meuble3.jpg')}}" alt="">
        </div>
        {# <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> #}
        <a class="btn btn-outline-primary" href="#">Ajouter au panier</a>
        </div>
      </div>
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3 text-light">
          <h2 class="display-5">Chaise avec pied en couleur or et dossier en velours blanc</h2>
          <p class="lead">ette chaise est un mariage parfait entre l'élégance de son pied en couleur or et le charme doux de son dossier en velours blanc. Le pied en couleur or ajoute une touche de luxe et de sophistication à la chaise, créant ainsi un véritable point focal dans votre espace.</p>
          <h4>Prix de cette chaise : 38€</h4>
          <img loading='lazy' width='500' height='500' src="{{ asset('images/Meuble5.jpg')}}" alt="">
        </div>
        {# <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> #}
        <a class="btn btn-outline-primary" href="#">Ajouter au panier</a>
        </div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3 text-light">
          <h2 class="display-5">Chaise en bois rehausser</h2>
          <p class="lead">Cette chaise allie la chaleur et la beauté du bois à l'élégance intemporelle du cuir. Le cadre en bois massif confère à la chaise une robustesse et une durabilité exceptionnelles, tandis que l'assise en cuir lui confère un aspect luxueux et sophistiqué.</p>
          <h4>Prix de cette chaise : 32€</h4>
          <img loading='lazy' width='500' height='500' src="{{ asset('images/Meuble6.jpg')}}" alt="">
        </div>
        {# <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> #}
        <a class="btn btn-outline-primary" href="#">Ajouter au panier</a>
        </div>
      </div>
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3 text-light">
          <h2 class="display-5">Chaise bleue avec pied en bois </h2>
          <p class="lead">Cette chaise est un mélange attrayant de style contemporain et de chaleur naturelle. Son revêtement bleu apporte une touche de couleur vive et rafraîchissante à votre espace, tandis que le pied en bois lui confère une touche d'élégance rustique.</p>
          <h4>Prix de cette chaise : 39€</h4>
          <img loading='lazy' width='500' height='500' src="{{ asset('images/Meuble7.jpg')}}" alt="">
        </div>
        {# <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> #}
        <a class="btn btn-outline-primary" href="#">Ajouter au panier</a>
        </div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3 text-light">
          <h2 class="display-5">Chaise entièrement en bois </h2>
          <p class="lead">Cette chaise est fabriquée exclusivement en bois, ce qui lui confère un style authentique et naturel. Son design épuré met en valeur la beauté et la texture du bois, ajoutant une touche chaleureuse à votre espace.</p>
          <h4>Prix de cette chaise : 48€</h4>
          <img loading='lazy' width='500' height='500' src="{{ asset('images/Meuble8.jpg')}}" alt="">
        </div>
        {# <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> #}
        <a class="btn btn-outline-primary" href="#">Ajouter au panier</a>
        </div>
      </div>
    </div>
{% endblock %}
